/*----------------------------------------------------------------
	Comments
----------------------------------------------------------------*/
#comments {
	padding: 10px;
	h3 {
		text-transform: uppercase;
		margin-bottom: 1em;
	}
}
.comments-title {
	margin: 0 0 2em;
}

/*----------------------------------------------------------------
	Comment List
----------------------------------------------------------------*/

.comment-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.comment-meta {
	@include clearfix;
	margin: 0 0 1em;
}
.comment-metadata {
	font-size: 12px;
}
.comment-author {
	font-size: 14px;
	.avatar {
		float: left;
		margin-right: 1em;
		vertical-align: middle;
	}
}
.comment {
	padding: 0 0 1em;

	margin: 0 0 2em;
}

/*----------------------------------------------------------------
	Comment Form
----------------------------------------------------------------*/

.comment-form {
	p {
		float: left;
		width: 31%;
		margin-right: 3%;
	}
	label {
		display: block;
	}
	input {
		width: 100%;
	}
	textarea {
		width: 100%;
	}
	.comment-form-url {
		margin-right: 0;
	}
	.comment-form-comment {
		float: none;
		width: 100%;
		clear: both;
	}
	.comment-notes, .logged-in-as {
		width: 100%;
		float: none;
		clear: both;
		margin: 0 0 1em;
		font-style: italic;
		font-size: 12px;
	}
	.form-submit {
		width: auto;
	}
	.form-allowed-tags {
		display: none;
	}
}