/*----------------------------------------------------------------
	Form Elements
----------------------------------------------------------------*/

input {
	box-sizing: content-box;
	height: 21px;
	padding: 3px;
	border: 1px solid lighten($color, 30%);
}
textarea {
	height: auto;
	border: 1px solid lighten($color, 30%);
}

input[type="submit"] {
	padding-left: 8px;
	padding-right: 8px;
	font-size: 12px;
	background-color: #fff;
}
