$color: #888;
$box-shadow: 0 0 12px rgba(100, 100, 100, 0.1);

$font-regular:'Myriad W01 Regular';
$font-italic:'Myriad W01 It';
$font-bold:'Myriad W01 Bd';
$font-bold-italic:'Myriad W01 Bd It';

$medium: "640px";
$large: "900px";