/*----------------------------------------------------------------
	Widgets
----------------------------------------------------------------*/

.widget {
	@include clearfix;
	clear: both;
	padding: 1.5em 0 0;
	margin: 0 0 1.5em;
	border-top: 1px dotted #ccc;
	ul, ol, li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	font-size: 12px;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */


.widget-title {
	font-size: 15px;
	margin: 0 0 10px;
	text-transform: uppercase;
}

/*----------------------------------------------------------------
	Category Widget
----------------------------------------------------------------*/

[id^="categories"] {
	li {
		margin: 0 0 4px;
	}
	.current-cat a {
		color: #000;
		font-weight: bold;
	}
	a {
		text: {
			decoration: none;
			transformation: uppercase;
		}
		color: inherit;
	}
}

/*----------------------------------------------------------------
	Instagram Widget
----------------------------------------------------------------*/

.widget-instagram {
	li {
		float:left;
		width: 48%;
	}
	li:nth-child(even) {
		margin-left: 2%
	}
}

// instagram slider
// .single .widget-instagram {
// 	li {
// 		width: 100%;
// 	}
// }

/*----------------------------------------------------------------
	Instagram Carousel Widget
----------------------------------------------------------------*/

.widget-instagram-carousel {
	.bx-wrapper {
		position: relative;
	}
	.bx-pager {
		text-align: center;
		a {
			background: #ccc;
			text-indent: -9999px;
			display: block;
			width: 12px;
			height: 12px;
			margin: 0 5px;
			border-radius: 50%;
		}
		.bx-pager-item {
			display: inline-block;
		}
	}
}

/*----------------------------------------------------------------
	YARPP Widget
----------------------------------------------------------------*/

.yarpp-related {
	@include clearfix;
	padding: 2em 0 0;
	border: 1px solid lighten($color, 30%);
	border-width: 1px 0 0;
	margin: 2em 0 0;
	h1 {
		font-size: 18px;
	}
	ol {
		padding: 0;
		margin: 0;
		list-style: none;
		overflow: auto;
	}
	li {
		float: left;
		width: 48%;
		margin: 0 0 1em;
		text-align: center;
		@media (min-width: $medium) {
			width: 25%;
		}
	}
	li:nth-child(odd) {
		margin-right: 2%;
		@media (min-width: $medium) {
			margin-right: 0;
		}

	}
	a {
		display: block;
		font-size: 13px;
		color: inherit;
		max-width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

/*----------------------------------------------------------------
	Recent Posts Widget
----------------------------------------------------------------*/

.widget-recent-posts {
	li {
		display: block;
		clear: both;
		margin: 0 0 1em;
		figure {
			float: left;
			width: 25%;
		}
		h5 {
			float: left;
			width: 75%;
			padding: 10px;
			font-size: 13px;
		}
		a {
			color: inherit;
		}
	}
}